In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm

In [3]:
df = pd.read_csv("companydata_part1.csv")

/tmp/ipykernel_1952/3899070418.py:1: DtypeWarning: Columns (41,42,43,44,45,46,47,48,49,50,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("companydata_part1.csv")

In [6]:
df["RegAddress.PostCode"].unique()

array(['HG1 1ND', 'EC1V 9LT', 'EN5 5LB', ..., 'OX12 7FP', 'GU46 6BX',
       'KA3 3DF'], shape=(326033,), dtype=object)

In [4]:
uk_countries = ["ENGLAND", "SCOTLAND", "WALES", "NORTHERN IRELAND", "UNITED KINGDOM"]

In [5]:
df_uk = df[df["RegAddress.Country"].isin(uk_countries)]

In [6]:
df_uk.info()

<class 'pandas.core.frame.DataFrame'>
Index: 688497 entries, 0 to 849995
Data columns (total 55 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   CompanyName                         688497 non-null  object
 1    CompanyNumber                      688497 non-null  object
 2   RegAddress.CareOf                   1403 non-null    object
 3   RegAddress.POBox                    452 non-null     object
 4   RegAddress.AddressLine1             688494 non-null  object
 5    RegAddress.AddressLine2            391236 non-null  object
 6   RegAddress.PostTown                 688491 non-null  object
 7   RegAddress.County                   173133 non-null  object
 8   RegAddress.Country                  688497 non-null  object
 9   RegAddress.PostCode                 688233 non-null  object
 10  CompanyCategory                     688497 non-null  object
 11  CompanyStatus                       688497 non-null  object
 12  CountryOfOrigin                     688497 non-null  object
 13  DissolutionDate                     0 non-null       float64
 14  IncorporationDate                   688497 non-null  object
 15  Accounts.AccountRefDay              684821 non-null  float64
 16  Accounts.AccountRefMonth            684821 non-null  float64
 17  Accounts.NextDueDate                684478 non-null  object
 18  Accounts.LastMadeUpDate             497984 non-null  object
 19  Accounts.AccountCategory            688497 non-null  object
 20  Returns.NextDueDate                 684795 non-null  object
 21  Returns.LastMadeUpDate              138527 non-null  object
 22  Mortgages.NumMortCharges            688497 non-null  int64
 23  Mortgages.NumMortOutstanding        688497 non-null  int64
 24  Mortgages.NumMortPartSatisfied      688497 non-null  int64
 25  Mortgages.NumMortSatisfied          688497 non-null  int64
 26  SICCode.SicText_1                   688497 non-null  object
 27  SICCode.SicText_2                   141154 non-null  object
 28  SICCode.SicText_3                   61699 non-null   object
 29  SICCode.SicText_4                   28493 non-null   object
 30  LimitedPartnerships.NumGenPartners  688497 non-null  int64
 31  LimitedPartnerships.NumLimPartners  688497 non-null  int64
 32  URI                                 688497 non-null  object
 33  PreviousName_1.CONDATE              62142 non-null   object
 34   PreviousName_1.CompanyName         62142 non-null   object
 35   PreviousName_2.CONDATE             10491 non-null   object
 36   PreviousName_2.CompanyName         10491 non-null   object
 37  PreviousName_3.CONDATE              2215 non-null    object
 38   PreviousName_3.CompanyName         2215 non-null    object
 39  PreviousName_4.CONDATE              574 non-null     object
 40   PreviousName_4.CompanyName         574 non-null     object
 41  PreviousName_5.CONDATE              170 non-null     object
 42   PreviousName_5.CompanyName         170 non-null     object
 43  PreviousName_6.CONDATE              57 non-null      object
 44   PreviousName_6.CompanyName         57 non-null      object
 45  PreviousName_7.CONDATE              24 non-null      object
 46   PreviousName_7.CompanyName         24 non-null      object
 47  PreviousName_8.CONDATE              15 non-null      object
 48   PreviousName_8.CompanyName         15 non-null      object
 49  PreviousName_9.CONDATE              10 non-null      object
 50   PreviousName_9.CompanyName         10 non-null      object
 51  PreviousName_10.CONDATE             7 non-null       object
 52   PreviousName_10.CompanyName        7 non-null       object
 53  ConfStmtNextDueDate                 687703 non-null  object
 54   ConfStmtLastMadeUpDate             557663 non-null  object
dtypes: float64(3), int64(6), object(46)
memory usage: 294.2+ MB

We have now created our df_uk with only our addresses in the UK. We will be looking next to include smaller nations.

In [7]:
df_uk.DissolutionDate.unique()

array([nan])

Seems like all those companies are active

In [8]:
df_uk["AddressLine1"] = df["RegAddress.AddressLine1"].str.strip().str.upper()

/tmp/ipykernel_1952/4050367734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk["AddressLine1"] = df["RegAddress.AddressLine1"].str.strip().str.upper()

In [9]:
df_uk["AddressLine2"] = df[" RegAddress.AddressLine2"].str.strip().str.upper()

/tmp/ipykernel_1952/3541353132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk["AddressLine2"] = df[" RegAddress.AddressLine2"].str.strip().str.upper()

In [10]:
df_uk["Town_clean"]= df["RegAddress.PostTown"].str.strip().str.upper()

/tmp/ipykernel_1952/2405946827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk["Town_clean"]= df["RegAddress.PostTown"].str.strip().str.upper()

In [11]:
df_uk["RegAddress.County"] = df["RegAddress.County"].str.strip().str.upper()

/tmp/ipykernel_1952/2026710825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk["RegAddress.County"] = df["RegAddress.County"].str.strip().str.upper()

In [12]:
df_uk["PostCode_clean"] = df_uk["RegAddress.PostCode"].str.upper().str.replace(" ", "").str.replace(r"^(.+)(\w{3})$", r"\1 \2", regex=True)

/tmp/ipykernel_1952/3621565947.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk["PostCode_clean"] = df_uk["RegAddress.PostCode"].str.upper().str.replace(" ", "").str.replace(r"^(.+)(\w{3})$", r"\1 \2", regex=True)

That was just cleaning the relevant columns for our data in case we want to use those

In [13]:
postcode_counts = (
    df_uk.groupby("PostCode_clean")["CompanyName"]
         .nunique()
         .reset_index(name="CompanyCount")
         .sort_values("CompanyCount", ascending=False)
)

In [14]:
# Companies per address (address line + postcode together)

address_counts = (
    df_uk.groupby(["PostCode_clean", "AddressLine1"])["CompanyName"]
         .nunique()
         .reset_index(name="Companies_at_Address")
)

# Companies per postcode (already cleaned)
postcode_counts = (
    df_uk.groupby("PostCode_clean")["CompanyName"]
         .nunique()
         .reset_index(name="Companies_in_Postcode")
)

# Merge the two for comparison
compare = address_counts.merge(postcode_counts, on="PostCode_clean", how="left")

# Add share of postcode that each address represents
compare["Address_share_in_PC"] = (
    (compare["Companies_at_Address"] / compare["Companies_in_Postcode"] * 100)
    .round(1)
    .astype(str) + "%"
)

# See the biggest hubs
compare.sort_values("Companies_at_Address", ascending=False).head(20)

,PostCode_clean,AddressLine1,Companies_at_Address,Companies_in_Postcode,Address_share_in_PC
397632,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%
121264,EC1V 2NX,128 CITY ROAD,5795,9248,62.7%
229267,N1 7GU,20-22 WENLOCK ROAD,2699,5408,49.9%
229258,N1 7GU,20 WENLOCK ROAD,2622,5408,48.5%
388284,W1W 7LT,85 GREAT PORTLAND STREET,2311,2843,81.3%
396707,WC1N 3AX,27 OLD GLOUCESTER STREET,2055,2316,88.7%
121229,EC1V 2NX,124 CITY ROAD,1922,9248,20.8%
122013,EC2A 4NE,"3RD FLOOR, 86-90",1851,4041,45.8%
122049,EC2A 4NE,86-90 PAUL STREET,1464,4041,36.2%
388031,W1W 5PF,167-169 GREAT PORTLAND STREET,1265,1786,70.8%
397201,WC2A 2JR,7 BELL YARD,1197,1266,94.5%
392939,WA1 1RG,320 FIRECREST COURT,1119,1125,99.5%
164284,HR5 3DJ,61 BRIDGE STREET,746,1076,69.3%
153971,HA4 7AE,2ND FLOOR COLLEGE HOUSE,663,741,89.5%
137158,G2 4JR,272 BATH STREET,571,598,95.5%
174812,IP28 7DE,82A JAMES CARTER ROAD,540,2012,26.8%
121259,EC1V 2NX,124-128 CITY ROAD,518,9248,5.6%
75666,CR0 2RF,STONEMEAD HOUSE,492,495,99.4%
122003,EC2A 4NE,3RD FLOOR,459,4041,11.4%
125170,EH2 4AN,5 SOUTH CHARLOTTE STREET,431,458,94.1%

In [15]:
# Heavy hitter addresses (building-level)
heavy_hitters = compare[compare["Companies_at_Address"] > 100].copy()

# Sort them by number of companies
heavy_hitters = heavy_hitters.sort_values("Companies_at_Address", ascending=False)

heavy_hitters.head(50)

,PostCode_clean,AddressLine1,Companies_at_Address,Companies_in_Postcode,Address_share_in_PC
397632,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%
121264,EC1V 2NX,128 CITY ROAD,5795,9248,62.7%
229267,N1 7GU,20-22 WENLOCK ROAD,2699,5408,49.9%
229258,N1 7GU,20 WENLOCK ROAD,2622,5408,48.5%
388284,W1W 7LT,85 GREAT PORTLAND STREET,2311,2843,81.3%
396707,WC1N 3AX,27 OLD GLOUCESTER STREET,2055,2316,88.7%
121229,EC1V 2NX,124 CITY ROAD,1922,9248,20.8%
122013,EC2A 4NE,"3RD FLOOR, 86-90",1851,4041,45.8%
122049,EC2A 4NE,86-90 PAUL STREET,1464,4041,36.2%
388031,W1W 5PF,167-169 GREAT PORTLAND STREET,1265,1786,70.8%
397201,WC2A 2JR,7 BELL YARD,1197,1266,94.5%
392939,WA1 1RG,320 FIRECREST COURT,1119,1125,99.5%
164284,HR5 3DJ,61 BRIDGE STREET,746,1076,69.3%
153971,HA4 7AE,2ND FLOOR COLLEGE HOUSE,663,741,89.5%
137158,G2 4JR,272 BATH STREET,571,598,95.5%
174812,IP28 7DE,82A JAMES CARTER ROAD,540,2012,26.8%
121259,EC1V 2NX,124-128 CITY ROAD,518,9248,5.6%
75666,CR0 2RF,STONEMEAD HOUSE,492,495,99.4%
122003,EC2A 4NE,3RD FLOOR,459,4041,11.4%
125170,EH2 4AN,5 SOUTH CHARLOTTE STREET,431,458,94.1%
106850,E1 0SG,5 BRAYFORD SQUARE,420,538,78.1%
355429,SW1Y 4JU,"STRON LEGAL, THE CLUBHOUSE ST JAMES",419,438,95.7%
388196,W1W 6XH,101 NEW CAVENDISH STREET,378,385,98.2%
39801,BN3 7GS,W8A KNOLL BUSINESS CENTRE,360,379,95.0%
127005,EH5 1BN,39/5 GRANTON CRESCENT,359,359,100.0%
397163,WC2A 1HR,SUITE G04,359,401,89.5%
234893,N21 3NA,1 KINGS AVENUE,354,355,99.7%
175007,IP28 7DE,UNIT 82A JAMES CARTER ROAD,335,2012,16.7%
125072,EH2 1JE,SUITE 1,321,339,94.7%
231096,N14 5BP,CHASE BUSINESS CENTRE,288,356,80.9%
230154,N11 3NE,35 FIRS AVENUE,276,278,99.3%
227296,ML11 0QW,44 MAIN STREET,275,393,70.0%
121451,EC1V 2NX,KEMP HOUSE,273,9248,3.0%
235618,N3 1XW,35 BALLARDS LANE,269,270,99.6%
114534,E1W 9US,2 LEMAN STREET,267,300,89.0%
82744,CV2 4AQ,"7 COPPERFIELD ROAD, COVENTRY",253,311,81.4%
386438,W1H 7EJ,5 MARBLE ARCH,253,257,98.4%
31538,BH25 5NR,QUEENSWAY HOUSE,252,279,90.3%
158710,HG1 1ND,9 PRINCES SQUARE,248,292,84.9%
396601,WC1H 9BQ,LYNTON HOUSE,243,258,94.2%
393867,WA14 4RW,MANSION HOUSE,241,242,99.6%
396982,WC1X 0ND,2 FREDERICK STREET,233,237,98.3%
230602,N13 4BS,483 GREEN LANES,231,292,79.1%
386139,W1G 7AJ,41 DEVONSHIRE STREET,222,223,99.6%
81653,CV1 2NT,UNION HOUSE,213,283,75.3%
185250,L18 1DG,48 - 52 PENNY LANE,209,255,82.0%
211095,M2 3WQ,BARTLE HOUSE,208,240,86.7%
123136,EC3V 3QQ,73 CORNHILL,202,215,94.0%
387667,W1T 7NF,LEVEL 5A MAPLE HOUSE,202,204,99.0%
41885,BR3 4AB,37 CROYDON ROAD,199,199,100.0%

In [16]:
# % of postcode already in compare (Address_share_in_PC)
# Now add % of all UK companies

total_companies = df_uk["CompanyName"].nunique()

heavy_hitters["Share_of_all_companies"] = (
    heavy_hitters["Companies_at_Address"] / total_companies * 100
).round(2)

In [17]:
heavy_hitters.to_csv("heavy_hitters_table.csv", index=False)

In [18]:
df_uk["FullAddress"] = (
    df_uk["AddressLine1"].fillna("") + ", " +
    df_uk["AddressLine2"].fillna("") + ", "
).str.replace(r"(,\s*)+", ", ", regex=True) \
 .str.replace(r"\s+", " ", regex=True) \
 .str.strip(", ")

/tmp/ipykernel_1952/2261810301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk["FullAddress"] = (

In [21]:
heavy_hitters.head()

,PostCode_clean,AddressLine1,Companies_at_Address,Companies_in_Postcode,Address_share_in_PC,Share_of_all_companies
397632,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72
121264,EC1V 2NX,128 CITY ROAD,5795,9248,62.7%,0.84
229267,N1 7GU,20-22 WENLOCK ROAD,2699,5408,49.9%,0.39
229258,N1 7GU,20 WENLOCK ROAD,2622,5408,48.5%,0.38
388284,W1W 7LT,85 GREAT PORTLAND STREET,2311,2843,81.3%,0.34

In [19]:
full_addresses = df_uk[["PostCode_clean", "AddressLine1", "AddressLine2" "FullAddress"]].drop_duplicates()

KeyError: "['AddressLine2FullAddress'] not in index"

In [70]:
# Merge into heavy_hitters
heavy_hitters = heavy_hitters.merge(
    full_addresses,
    on=["PostCode_clean", "AddressLine1"],
    how="left"
)

In [71]:
heavy_hitters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PostCode_clean         155 non-null    object
 1   AddressLine1           155 non-null    object
 2   Companies_at_Address   155 non-null    int64
 3   Companies_in_Postcode  155 non-null    int64
 4   Address_share_in_PC    155 non-null    object
 5   FullAddress            155 non-null    object
dtypes: int64(2), object(4)
memory usage: 7.4+ KB

In [74]:
heavy_hitters.

,PostCode_clean,AddressLine1,Companies_at_Address,Companies_in_Postcode,Address_share_in_PC,FullAddress
0,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,"71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
1,EC1V 2NX,128 CITY ROAD,5795,9248,62.7%,"128 CITY ROAD, LONDON, NAN EC1V 2NX"
2,N1 7GU,20-22 WENLOCK ROAD,2699,5408,49.9%,"20-22 WENLOCK ROAD, LONDON, NAN N1 7GU"
3,N1 7GU,20 WENLOCK ROAD,2622,5408,48.5%,"20 WENLOCK ROAD, LONDON, NAN N1 7GU"
4,W1W 7LT,85 GREAT PORTLAND STREET,2311,2843,81.3%,"85 GREAT PORTLAND STREET, FIRST FLOOR, LONDON,..."
5,WC1N 3AX,27 OLD GLOUCESTER STREET,2055,2316,88.7%,"27 OLD GLOUCESTER STREET, LONDON, NAN WC1N 3AX"
6,EC1V 2NX,124 CITY ROAD,1922,9248,20.8%,"124 CITY ROAD, LONDON, NAN EC1V 2NX"
7,EC2A 4NE,"3RD FLOOR, 86-90",1851,4041,45.8%,"3RD FLOOR, 86-90, PAUL STREET, LONDON, ENGLAND..."
8,EC2A 4NE,86-90 PAUL STREET,1464,4041,36.2%,"86-90 PAUL STREET, LONDON, ENGLAND EC2A 4NE"
9,W1W 5PF,167-169 GREAT PORTLAND STREET,1265,1786,70.8%,"167-169 GREAT PORTLAND STREET, LONDON, NAN W1W..."
10,WC2A 2JR,7 BELL YARD,1197,1266,94.5%,"7 BELL YARD, LONDON, NAN WC2A 2JR"
11,WA1 1RG,320 FIRECREST COURT,1119,1125,99.5%,"320 FIRECREST COURT, CENTRE PARK, WARRINGTON, ..."
12,HR5 3DJ,61 BRIDGE STREET,746,1076,69.3%,"61 BRIDGE STREET, KINGTON, NAN HR5 3DJ"
13,HA4 7AE,2ND FLOOR COLLEGE HOUSE,663,741,89.5%,"2ND FLOOR COLLEGE HOUSE, 17 KING EDWARDS ROAD,..."
14,G2 4JR,272 BATH STREET,571,598,95.5%,"272 BATH STREET, GLASGOW, NAN G2 4JR"
15,IP28 7DE,82A JAMES CARTER ROAD,540,2012,26.8%,"82A JAMES CARTER ROAD, MILDENHALL, SUFFOLK IP2..."
16,EC1V 2NX,124-128 CITY ROAD,518,9248,5.6%,"124-128 CITY ROAD, LONDON, NAN EC1V 2NX"
17,CR0 2RF,STONEMEAD HOUSE,492,495,99.4%,"STONEMEAD HOUSE, 95 LONDON ROAD, CROYDON, SURR..."
18,EC2A 4NE,3RD FLOOR,459,4041,11.4%,"3RD FLOOR, 86-90 PAUL STREET, LONDON, NAN EC2A..."
19,EH2 4AN,5 SOUTH CHARLOTTE STREET,431,458,94.1%,"5 SOUTH CHARLOTTE STREET, EDINBURGH, NAN EH2 4AN"

In [73]:
heavy_hitters[heavy_hitters.PostCode_clean == 'EC2A 4LU']

,PostCode_clean,AddressLine1,Companies_at_Address,Companies_in_Postcode,Address_share_in_PC,FullAddress
153,EC2A 4LU,4TH FLOOR,101,103,98.1%,"4TH FLOOR, 4 TABERNACLE STREET, LONDON, NAN EC..."

In [56]:
heavy_hitters["FullAddress"]

0      71-75 SHELTON STREET, LONDON, GREATER LONDON W...
1      71-75 SHELTON STREET, COVENT GARDEN, LONDON, N...
2             71-75 SHELTON STREET, LONDON, NAN WC2H 9JQ
3      71-75 SHELTON STREET, COVEN GARDEN, LONDON, NA...
4      71-75 SHELTON STREET, COVENT GARDEN, LONDON WC...
                             ...
901    4TH FLOOR, 4 TABERNACLE STREET, LONDON, NAN EC...
902            57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE
903            57A BROADWAY, LEIGH-ON-SEA, ESSEX SS9 1PE
904              57A BROADWAY, LEIGH-ON-SEA, NAN SS9 1PE
905              57A BROADWAY, LEIGH ON SEA, NAN SS9 1PE
Name: FullAddress, Length: 906, dtype: object

In [66]:
# Collapse multiple FullAddress variants into one (first non-null)
full_addresses = (
    df_uk.groupby(["PostCode_clean", "AddressLine1"])["FullAddress"]
         .first()
         .reset_index()
)

# Merge unique FullAddress into heavy_hitters
heavy_hitters = heavy_hitters.merge(
    full_addresses,
    on=["PostCode_clean", "AddressLine1"],
    how="left"
)

In [67]:
heavy_hitters

,PostCode_clean,AddressLine1,Companies_at_Address,Companies_in_Postcode,Address_share_in_PC,Share_of_all_companies,FullAddress_x,FullAddress_y,FullAddress
0,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
1,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
2,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
3,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
4,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
...,...,...,...,...,...,...,...,...,...
901,EC2A 4LU,4TH FLOOR,101,103,98.1%,0.01,"4TH FLOOR, 4 TABERNACLE STREET, LONDON, NAN EC...","4TH FLOOR, 4 TABERNACLE STREET, LONDON, NAN EC...","4TH FLOOR, 4 TABERNACLE STREET, LONDON, NAN EC..."
902,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"
903,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"
904,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"
905,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"

In [60]:
heavy_hitters = heavy_hitters.drop(columns=["FullAddress_x"]).rename(columns={"FullAddress_y": "FullAddress"})

In [61]:
heavy_hitters

,PostCode_clean,AddressLine1,Companies_at_Address,Companies_in_Postcode,Address_share_in_PC,Share_of_all_companies,FullAddress
0,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
1,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
2,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
3,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
4,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
...,...,...,...,...,...,...,...
901,EC2A 4LU,4TH FLOOR,101,103,98.1%,0.01,"4TH FLOOR, 4 TABERNACLE STREET, LONDON, NAN EC..."
902,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"
903,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"
904,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"
905,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"

In [64]:
# Step 1: collapse to one unique FullAddress per (postcode, address line 1)
full_addresses = (
    df_uk.groupby(["PostCode_clean", "AddressLine1"])["FullAddress"]
         .first()   # you could also use .mode()[0] for the most common variant
         .reset_index()
)

# Step 2: merge this unique mapping back into heavy_hitters
heavy_hitters = heavy_hitters.merge(
    full_addresses,
    on=["PostCode_clean", "AddressLine1"],
    how="left"
)

# Step 3: rename for clarity
heavy_hitters = heavy_hitters.rename(columns={"FullAddress": "CanonicalFullAddress"})

In [65]:
heavy_hitters

,PostCode_clean,AddressLine1,Companies_at_Address,Companies_in_Postcode,Address_share_in_PC,Share_of_all_companies,FullAddress_x,FullAddress_y
0,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
1,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
2,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
3,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
4,WC2H 9JQ,71-75 SHELTON STREET,11876,12062,98.5%,1.72,"71-75 SHELTON STREET, LONDON, GREATER LONDON W...","71-75 SHELTON STREET, LONDON, GREATER LONDON W..."
...,...,...,...,...,...,...,...,...
901,EC2A 4LU,4TH FLOOR,101,103,98.1%,0.01,"4TH FLOOR, 4 TABERNACLE STREET, LONDON, NAN EC...","4TH FLOOR, 4 TABERNACLE STREET, LONDON, NAN EC..."
902,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"
903,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"
904,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"
905,SS9 1PE,57A BROADWAY,101,101,100.0%,0.01,"57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE","57A BROADWAY, LEIGH ON SEA, ESSEX SS9 1PE"

In [27]:
address_counts_og = (
    df_uk.groupby("AddressLine1")["CompanyName"]
         .nunique()
         .reset_index(name="CompanyCount")
         .sort_values("CompanyCount", ascending=False)
)

In [29]:
compare = address_counts.merge(postcode_counts, on="PostCode_clean", how="left")

# Add % share of postcode that each address accounts for
compare["Address_share_in_PC"] = (
    compare["Companies_at_Address"] / compare["Companies_in_Postcode"] * 100
)

# Sort by biggest addresses
compare = compare.sort_values("Companies_at_Address", ascending=False)

KeyError: 'PostCode_clean'

In [24]:
postcode_counts.head(3)

       PostCode_clean  CompanyCount
271739       WC2H 9JQ         12062
82830        EC1V 2NX          9248
156434         N1 7GU          5408

In [28]:
address_counts.head(3)

                AddressLine1  CompanyCount
237370  71-75 SHELTON STREET         11883
36958          128 CITY ROAD          5799
93145     20-22 WENLOCK ROAD          2703

In [23]:
heavy_hitters_PC = postcode_counts[postcode_counts["CompanyCount"] > 100]

print(f"{heavy_hitters_PC.shape[0]} postcodes have more than 100 companies registered.")
heavy_hitters_PC.head(3)

262 postcodes have more than 100 companies registered.

       PostCode_clean  CompanyCount
271739       WC2H 9JQ         12062
82830        EC1V 2NX          9248
156434         N1 7GU          5408

Our definition of heavy hitters will be addresses with more than 100 unique companies listed

In [ ]:
heavy_hitters_add = postcode_counts[postcode_counts["CompanyCount"] > 100]

print(f"{heavy_hitters_PC.shape[0]} postcodes have more than 100 companies registered.")
heavy_hitters_PC.head(3)

In [18]:
# total unique UK companies
companies_total = df_uk["CompanyName"].nunique()

In [19]:
# companies at heavy hitter postcodes
companies_in_hh_pc = (
    df_uk[df_uk["PostCode_clean"].isin(heavy_hitters_PC["PostCode_clean"])]
        ["CompanyName"]
        .nunique()
)

In [20]:
# percentage
pct_pc = companies_in_hh_pc / companies_total * 100

In [22]:
print(f"{companies_in_hh_pc:,} / {companies_total:,} UK companies "
      f"({pct_pc:.2f}%) are at heavy hitter postcodes (>100 companies).")

89,622 / 688,491 UK companies (13.02%) are at heavy hitter postcodes (>100 companies).

In [25]:
df_uk.head()

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,AddressLine1,PostCode_clean
0,! LTD,08209948,NaN,NaN,9 PRINCES SQUARE,NaN,HARROGATE,NaN,ENGLAND,HG1 1ND,...,NaN,NaN,NaN,NaN,NaN,NaN,25/09/2025,11/09/2024,9 PRINCES SQUARE,HG1 1ND
1,!BIG IMPACT GRAPHICS LIMITED,11743365,NaN,NaN,372 OLD STREET,335 ROSDEN HOUSE,LONDON,NaN,UNITED KINGDOM,EC1V 9LT,...,NaN,NaN,NaN,NaN,NaN,NaN,29/12/2025,15/12/2024,372 OLD STREET,EC1V 9LT
2,!NFLECTION ADVISORY LIMITED,15073164,NaN,NaN,52 MEADWAY,NaN,BARNET,NaN,UNITED KINGDOM,EN5 5LB,...,NaN,NaN,NaN,NaN,NaN,NaN,28/08/2025,14/08/2024,52 MEADWAY,EN5 5LB
3,!NFOGENIE LTD,13522064,NaN,NaN,71-75 SHELTON STREET,NaN,LONDON,GREATER LONDON,UNITED KINGDOM,WC2H 9JQ,...,NaN,NaN,NaN,NaN,NaN,NaN,03/08/2025,20/07/2024,71-75 SHELTON STREET,WC2H 9JQ
4,!NK MEDIA LIMITED,15801429,NaN,NaN,"85 GREAT PORTLAND STREET, FIRST FLOOR, LONDON ...",FIRST FLOOR,LONDON,NaN,ENGLAND,W1W 7LT,...,NaN,NaN,NaN,NaN,NaN,NaN,16/06/2026,02/06/2025,"85 GREAT PORTLAND STREET, FIRST FLOOR, LONDON ...",W1W 7LT